<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<meta name="theme-color" content="#0094e2"> -->
  <meta name="description" content="">

  <% if(config.isDevelopment){ %>
    <link rel="stylesheet" href="gulp.styles.css">
    <link rel="stylesheet" href="webpack.styles.css">
  <% } else{ %>  
    <link rel="stylesheet" href="njModal.css">
  <% } %>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  
  <style>
    html {
      overflow-y: scroll;
    }
    .lorem {
      height: 2000px;
    }
    #modal {
      max-width: 500px;
      display: none;
    }
    .njm-header {
      background-color: tomato;
      line-height: 50px;
    }
    .njm-footer {
      background-color: cyan;
      line-height: 50px;
    }
  </style>
  <title>njModal</title>
</head>

<body>
    <a href="#modal" class="link" data-toggle="modal">Open window</a>
  <div id="modal">
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius suscipit consequuntur vel praesentium voluptatum doloribus quae voluptates neque. Ullam, esse laboriosam fugit amet voluptates ex id sint, repellat inventore fuga?</div>
    <div>Aliquam hic sunt vero rerum excepturi iste, atque et rem. Impedit ratione vel, explicabo magnam unde, minus quibusdam et odit aspernatur, itaque sint deserunt nisi voluptate, cum aut doloremque repellat.</div>
    <div>Placeat sint maiores nisi, recusandae, ab cum. Temporibus voluptatibus ipsum corporis quam aspernatur dolores exercitationem minima veniam nulla eaque laudantium ad repellendus odit nam fuga quod eligendi, soluta, quibusdam. Quae!</div>
    <div>Laborum debitis, cupiditate animi eos voluptates perspiciatis quasi neque exercitationem mollitia iure obcaecati sunt voluptate facilis aliquid est sint quas voluptatum? Perferendis sed unde, recusandae rerum, in dignissimos aut non!</div>
    <div>Assumenda praesentium voluptate qui iusto harum, atque ab tempore distinctio! Pariatur fugit facilis similique voluptas corporis magnam non. Aut ea, repellendus expedita consectetur neque culpa necessitatibus asperiores assumenda maiores ratione.</div>
    <div>Amet itaque, voluptatum incidunt doloremque hic, minus eaque quam facilis provident debitis aliquam ab similique earum voluptates dolor, deleniti qui dolore sunt. Veniam, aperiam architecto consequuntur commodi placeat, doloribus iusto?</div>
    <div>Culpa ducimus quas nostrum labore ad dolore nulla officiis et, debitis adipisci. Vel provident, optio voluptas obcaecati iure iste, animi, adipisci modi inventore omnis laborum molestiae facere vitae dicta nesciunt.</div>
    <div>Adipisci ducimus ipsa cumque pariatur, alias sed dignissimos. Magni, dignissimos provident asperiores unde quaerat, doloribus ut, quia dolores inventore dolore sequi ullam nam, praesentium quam mollitia reiciendis corporis deleniti? Saepe!</div>
    <div>Perspiciatis optio commodi quis aspernatur vero pariatur assumenda eos rerum id atque officia illo odio officiis ratione doloribus accusantium voluptatem, maxime eius, facilis, enim nemo earum blanditiis. Asperiores, quasi, labore!</div>
    <div>Expedita illum nobis similique quas voluptate magni sequi consectetur, tenetur provident, necessitatibus, assumenda veniam magnam. Delectus, eligendi dicta omnis placeat laboriosam voluptatem. Odit, fugit, totam? Obcaecati quas qui voluptas quis.</div>
    <div>Expedita illum nobis similique quas voluptate magni sequi consectetur, tenetur provident, necessitatibus, assumenda veniam magnam. Delectus, eligendi dicta omnis placeat laboriosam voluptatem. Odit, fugit, totam? Obcaecati quas qui voluptas quis.</div>
       <div>Amet itaque, voluptatum incidunt doloremque hic, minus eaque quam facilis provident debitis aliquam ab similique earum voluptates dolor, deleniti qui dolore sunt. Veniam, aperiam architecto consequuntur commodi placeat, doloribus iusto?</div>
    <div>Culpa ducimus quas nostrum labore ad dolore nulla officiis et, debitis adipisci. Vel provident, optio voluptas obcaecati iure iste, animi, adipisci modi inventore omnis laborum molestiae facere vitae dicta nesciunt.</div>
    <div>Adipisci ducimus ipsa cumque pariatur, alias sed dignissimos. Magni, dignissimos provident asperiores unde quaerat, doloribus ut, quia dolores inventore dolore sequi ullam nam, praesentium quam mollitia reiciendis corporis deleniti? Saepe!</div>
    <div>Perspiciatis optio commodi quis aspernatur vero pariatur assumenda eos rerum id atque officia illo odio officiis ratione doloribus accusantium voluptatem, maxime eius, facilis, enim nemo earum blanditiis. Asperiores, quasi, labore!</div>
    <div>Expedita illum nobis similique quas voluptate magni sequi consectetur, tenetur provident, necessitatibus, assumenda veniam magnam. Delectus, eligendi dicta omnis placeat laboriosam voluptatem. Odit, fugit, totam? Obcaecati quas qui voluptas quis.</div>
    <div>Expedita illum nobis similique quas voluptate magni sequi consectetur, tenetur provident, necessitatibus, assumenda veniam magnam. Delectus, eligendi dicta omnis placeat laboriosam voluptatem. Odit, fugit, totam? Obcaecati quas qui voluptas quis.</div>

    </div>
  <script src="njModal.js"></script>
  <script>
    var modal = new njModal({
                              elem: '.link'
                            })
  </script>
</body>

</html>