<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--<meta name="theme-color" content="#0094e2"> -->
  <meta name="description" content="">

  <% if(config.isDevelopment){ %>
    <link rel="stylesheet" href="gulp.styles.css">
    <link rel="stylesheet" href="webpack.styles.css">
  <% } else{ %>  
    <link rel="stylesheet" href="njModal.css">
  <% } %>
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  
  <style>
    html {
      overflow-y: scroll;
    }
    .lorem {
      /*height: 2000px;*/
    }
    #modal {
      display: none;
    }
  </style>
  <title>njModal</title>
</head>

<body>
  <div class="lorem"></div>
  <a href="#modal" class="link" data-toggle="modal">Open window</a>
  <div id="modal">modal window ololo</div>
  <script src="njModal.js"></script>
  <script>
    var modal = new njModal({
                              elem: '.link'
                            })
    // console.log(modal);
  </script>
</body>

</html>